cloudpickle==2.2.1
IPython==8.9.0
ipython_genutils==0.2.0
ipykernel==6.23.3
jsonref==1.1.0
jsonschema==4.18.0
jupyter_client==8.3.0
nbclient==0.8.0
nbformat==5.9.1
streamflow==0.2.0.dev6
traitlets==5.9.0