name: "CI Tests"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  code-ql-check:
    name: "Jupyter Workflow CodeQL check"
    runs-on: ubuntu-22.04
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - uses: github/codeql-action/init@v3
        with:
          config-file: .github/codeql/config.yml
          languages: python
      - uses: github/codeql-action/analyze@v3
  static-checks:
    name: "Jupyter Workflow static checks"
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        step: [ "bandit", "lint" ]
    env:
      TOXENV: ${{ matrix.step }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.16"
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: "Install Tox"
        run: uv tool install tox --with tox-uv
      - name: "Run Jupyter Workflow static analysis via Tox"
        run: tox
  unit-tests:
    name: "Jupyter Workflow unit tests"
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: [ "3.9", "3.10", "3.11", "3.12", "3.13" ]
    env:
      TOXENV: ${{ format('py{0}-unit', matrix.python) }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.16"
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: "Install Tox"
        run: uv tool install tox --with tox-uv
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - uses: docker/setup-qemu-action@v3
      - name: "Run Jupyter Workflow tests via Tox"
        run: tox
      - name: "Upload coverage report for unit tests"
        uses: actions/upload-artifact@v6
        with:
          name: ${{ format('py{0}-unit-tests', matrix.python) }}
          path: ./coverage.xml
          retention-days: 1
          if-no-files-found: error
  upload-to-codecov:
    name: "Codecov report upload"
    needs: [ "unit-tests" ]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - name: "Download artifacts"
        uses: actions/download-artifact@v7
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}