name: "Release new version"
on:
  workflow_run:
    workflows:
      - "CI Tests"
    branches:
      - master
    types:
      - completed
jobs:
  github:
    name: "Create GitHub Release"
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.16"
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: "Install Jupyter Workflow"
        run: uv sync --locked --no-dev
      - name: "Get Jupyter Workflow version"
        run: echo "JF_VERSION=$(python -c "from jupyter_workflow.version import VERSION; print(VERSION)")" >> $GITHUB_ENV
      - name: "Check tag existence"
        uses: mukunku/tag-exists-action@v1.7.0
        id: check-tag
        with:
          tag: ${{ env.JF_VERSION }}
      - name: "Create Release"
        id: create-release
        uses: actions/create-release@v1
        if: ${{ steps.check-tag.outputs.exists == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.JF_VERSION }}
          release_name: ${{ env.JF_VERSION }}
          draft: false
          prerelease: false
  pypi:
    name: "Publish on PyPI"
    runs-on: ubuntu-22.04
    environment:
      name: pypi
      url: https://pypi.org/project/jupyter-workflow
    permissions:
      id-token: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.16"
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: "Install Jupyter Workflow"
        run: uv sync --locked --no-dev
      - name: "Get Jupyter Workflow version"
        run: echo "JF_VERSION=$(python -c "from jupyter_workflow.version import VERSION; print(VERSION)")" >> $GITHUB_ENV
      - name: "Get PyPI version"
        run: echo "PYPI_VERSION=$(pip index versions --pre jupyter_workflow | grep jupyter_workflow | sed 's/.*(\(.*\))/\1/')" >> $GITHUB_ENV
      - name: "Build Python packages"
        if: ${{ env.JF_VERSION != env.PYPI_VERSION }}
        run: |
          python -m pip install build --user
          python -m build --sdist --wheel --outdir dist/ .
      - name: "Publish package to PyPI"
        uses: pypa/gh-action-pypi-publish@release/v1
        if: ${{ env.JF_VERSION != env.PYPI_VERSION }}